<nav>

    <ul>

        <li>

            Nosotros

            <ul>

                <li>Presentación</li>

                <li>Visión, Misión y Valores</li>

                <li>Organización Institucional</li>

                <li>Plana Jerárquica</li>

                <li>Plana Docente</li>

                <li>Local</li>

            </ul>

        </li>

        <li>Programas de Estudio</li>

        <li>Admisión y Matrícula</li>

        <li>Transparencia</li>

        <li>Trámite</li>

        <li>Contáctanos</li>

        <li>Servicios</li>

        <li>Otras Páginas</li>

    </ul>

</nav>