<section id="noticias">

    <h2>Últimas Noticias</h2>

    <div class="contenedor-noticias">

        <article>

            <h3>Inicio de Matrículas 2027</h3>

            <p>
                Se comunica a los postulantes que el proceso
                de matrícula se encuentra abierto.
            </p>

        </article>

        <article>

            <h3>Feria Tecnológica</h3>

            <p>
                Estudiantes presentan proyectos innovadores
                desarrollados durante el semestre.
            </p>

        </article>

    </div>

</section>